# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# JWT secret
SECRET_KEY=

# JWT algorithm
ALGORITHM=

# Base URL for the frontend in production
FRONTEND_BASE_URL_PROD=

# Base URL for the frontend in development
FRONTEND_BASE_URL_DEV=