{
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order"],
  "customSyntax": "postcss-styled-syntax",
  "processors": [
    [
      "stylelint-processor-styled-components",
      {
        "moduleName": "styled-components"
      }
    ]
  ],
  "rules": {
    "media-query-no-invalid": null
  }
}
